body, button, input {
    font-size: 8pt;
}

.ups-navbar {
    font-size: 20px;
    color: white;
}

.ups-navbar > img {
    height: 20px;
    width: 20px;
}

.ups-link {
    font-size: 12pt;
    color: black;
    text-decoration: underline;
}

.bg-ups-gold {
    background-color: #FFD100;
}

.bg-ups-gray {
    background-color: #d9d9d6;
}

.bg-order-processed {
    background-color: #FFD100;
}
.bg-in-transit {
    background-color: #426DA9;
    color: white;
}
.bg-delivered {
    background-color: #6E7E1B;
    color: white;
}

.ups-header {
    font-size: 12pt;
}

hr {
    border-top: 2px solid #d9d9d6;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.ups-underline-gray {
    border-bottom: 3px solid #d9d9d6;
}

.ups-summary-list > div{
    padding: 5px;
    width: 33.32%;
}

.ups-summary-list > div > div {
    padding: 10px;
}

.ups-summary-list > div > div > p:nth-child(1) {
    font-size: 16pt;
}
.ups-summary-list > div > div > p:nth-child(2) {
    height: 2em; 
    line-height: 2em;
    overflow: hidden;
}

.ups-button {
    cursor: pointer;
}

.ups-pkg-card {
    border: 1px solid black;
    overflow: hidden;
    border-left: 2px solid #6E7E1B; 
}